[submodule "/Users/jasmin_shin/Desktop/captainDAQ/captainDAQ/DoxySite/src/captainDiagnostic"]
	path = /Users/jasmin_shin/Desktop/captainDAQ/captainDAQ/DoxySite/src/captainDiagnostic
	url = http://nngroup.physics.sunysb.edu/~captain/repo/captainDiagnostic.git
